.button--type--message-sb {
  background-image: url(../../../../images/icon_message.svg);
  opacity: 1;
  transition: all 0.2s ease-out;
}

.button--type--message-sb:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}