@import url(../vendor/fonts.css);
@import url(../vendor/reset.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__burger-container/header__burger-container.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav-container/header__nav-container.css);

@import url(../blocks/main/__title/main__title.css);
@import url(../blocks/main/__title-list/main__title-list.css);
@import url(../blocks/main/__nav/main__nav.css);
@import url(../blocks/main/__list/main__list.css);
@import url(../blocks/main/__link/main__link.css);
@import url(../blocks/main/__about/main__about.css);
@import url(../blocks/main/__text-box/main__text-box.css);
@import url(../blocks/main/__text/main__text.css);
@import url(../blocks/main/__read-more/main__read-more.css);
@import url(../blocks/main/__image/main__image.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/_settings/button--type--settings.css);
@import url(../blocks/button/_type/_burger/button--type--burger.css);
@import url(../blocks/button/_type/_call/button--type--call.css);
@import url(../blocks/button/_type/_message/button--type--message.css);
@import url(../blocks/button/_type/_profile/button--type--profile.css);
@import url(../blocks/button/_type/_search/button--type--search.css);
@import url(../blocks/button/_type/_settings-1120/button--type--settings-1120.css);
@import url(../blocks/button/_type/_search-1120/button--type--search-1120.css);
@import url(../blocks/button/_type/_call-sb/button--type--call-sb.css);
@import url(../blocks/button/_type/_message-sb/button--type--message-sb.css);
@import url(../blocks/button/_type/_profile-sb/button--type--profile-sb.css);



@import url(../blocks/button/_type/_exit/button__type--exit.css);
@import url(../blocks/button/_type/_search-sidebar/button--type--search-sidebar.css);
@import url(../blocks/button/_type/_read-more/button_type_read-more.css);



@import url(../blocks/main/__about/main__about.css);
@import url(../blocks/main/__image/main__image.css);
@import url(../blocks/main/__link/main__link.css);
@import url(../blocks/main/__list/main__list.css);
@import url(../blocks/main/__nav/main__nav.css);
@import url(../blocks/main/__read-more/main__read-more.css);
@import url(../blocks/main/__text-box/main__text-box.css);
@import url(../blocks/main/__text/main__text.css);
@import url(../blocks/main/__title-list/main__title-list.css);
@import url(../blocks/main/__title/main__title.css);
@import url(../blocks/main/__title-container/main__title-container.css);
@import url(../blocks/main/__title-item/main__title-item.css);
@import url(../blocks/main/__title-text-button/main__title-text-button.css);
@import url(../blocks/main/__title-text-link/main__title-text-link.css);

@import url(../blocks/sidebar/sidebar.css);
@import url(../blocks/sidebar/__contacts/sidebar__contacts.css);
@import url(../blocks/sidebar/__footer/sidebar__footer.css);
@import url(../blocks/sidebar/__header/sidebar__header.css);
@import url(../blocks/sidebar/__item/sidebar__item.css);
@import url(../blocks/sidebar/__lang/sidebar__lang.css);
@import url(../blocks/sidebar/__mail/sidebar__mail.css);
@import url(../blocks/sidebar/__nav-list/sidebar__nav-list.css);
@import url(../blocks/sidebar/__nav/sidebar__nav.css);
@import url(../blocks/sidebar/__tel/sidebar__tel.css);
@import url(../blocks/sidebar/__logo/sidebar__logo.css);
@import url(../blocks/sidebar/__lang-item/sidebar__lang-item.css);

@import url(../blocks/brands/brands.css);
@import url(../blocks/brands/__container/brands__container.css);
@import url(../blocks/brands/__title/brands__title.css);
@import url(../blocks/brands/__header/brands__header.css);
@import url(../blocks/brands/__grid/brands__grid.css);
@import url(../blocks/brands/__wrapper/brands__wrapper.css);

@import url(../blocks/swiper/swiper.css);




